.button-home-playnow {
  position: absolute;
  font-family: 'Ultra', serif;
  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  height: 4rem;
  width: 12rem;
  border-style: solid;
  border-color: #19191a;
  color: white;
  background-color: #19191a;
  right: 19.5%;
  bottom: 18.5%;
}

/* .button-home:hover {
  color: black;
  background-color: white;
  border: 2px solid transparent;
} */