.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Leaflet Answer Map CSS */

.leaflet-container {
  width: 100vh;
  height: 100vh;
  float: right;
  position: relative;
}

/* Game Status Bar CSS */

.game-status-component {
  z-index: 100;
  top: 1rem;
  position: absolute;
  height: 80px;
  width: 250px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: whitesmoke;
  background-image: linear-gradient(#000428, #004e92 );
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.inner-game-status {
  font-family: 'Libre Baskerville', serif;
  display: flex;
  justify-content: space-around;
}

/* Home page CSS */
video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.home-container {
  width: 100vw;
  position: absolute;
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* .home-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: brown;
  font-size: 40px;
  margin-left: 5.5em;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
} */

.home-game-title-container {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.home-game-title {
  font-family: 'Ultra', serif;
  font-size: 6em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.home-description {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: black;
  margin-right: 3.5em;
  margin-left: 0.5em;
  text-align: center;
}
