/* Home page CSS */
video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.home-container {
  width: fit-content;
  right: 1em;
  position: absolute;
  top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-game-title {
  font-family: "Ultra", serif;
  font-size: 6em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  color: #19191a;
}

.home-description {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
}

@media only screen and (max-width: 960px) {
  /* This will push span tag that contains word "hunch" down one line when screen size drops below 961px */
  .home-game-title span {
    display: block;
  }
  /* This will center title, description and button */
  .home-container {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
    padding: 0 15px;
  }

  .home-description br {
    display: none;
  }
  /* This ensures "Free to Play" is always at the bottom of description paragraph */
  .home-description strong {
    display: block;
  }
}
